= form_for @travel_city, html: { class: "form form-horizontal travel_city" } do |f|
  .form-group
    = f.label :from_city, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :from_city, class: 'form-control', required: true
    = f.error_span(:from_city)
  .form-group
    = f.label :to_city, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :to_city, class: 'form-control', required: true
    = f.error_span(:to_city)
  .form-group
    = f.label :started_on, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :started_on, class: 'form-control', required: true
    = f.error_span(:started_on)
  .form-group
    = f.label :reache_on, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :reache_on, class: 'form-control', required: true
    = f.error_span(:reache_on)
  .form-group
    = f.label :how_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :how_id, class: 'form-control', required: true
    = f.error_span(:how_id)
  .form-group
    = f.label :trip_id, class: 'control-label col-lg-2'
    .col-lg-10
      = f.collection_select :trip_id, Trip.all, :id, :name, class: 'form-control', required: true
    = f.error_span(:trip_id)
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil,class: 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), travel_cities_path, :class => 'btn btn-default'
