- model_class = TravelCity
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:from_city) + ':'
  %br
  = @travel_city.from_city
%p
  %strong= model_class.human_attribute_name(:to_city) + ':'
  %br
  = @travel_city.to_city
%p
  %strong= model_class.human_attribute_name(:started_on) + ':'
  %br
  = @travel_city.started_on
%p
  %strong= model_class.human_attribute_name(:reache_on) + ':'
  %br
  = @travel_city.reache_on
%p
  %strong= model_class.human_attribute_name(:how_id) + ':'
  %br
  = @travel_city.how_id
%p
  %strong= model_class.human_attribute_name(:trip_id) + ':'
  %br
  = @travel_city.trip_id

%p
  %strong Journey
  =@travel_city.travel_cities.each do 
= link_to t('.back', :default => t("helpers.links.back")), travel_cities_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_travel_city_path(@travel_city), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), travel_city_path(@travel_city), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
